#cv-body

  #cv-title_section.section.group
    #cv-name.col.span_3_of_4.col_left
      %h1
        Justin Le
    #cv-photo_container.col.col_right.span_1_of_4
      %img#cv-photo{ :src => url('http://placehold.it/300x300.png') }
    #cv-contacts.col.col_left.span_3_of_4
      %ul
        %li#cv-contact_fb
          %a{ :href => url('http://www.facebook.com/mstksg'),
              :target => "_blank",
              :title => "Facebook" }
            facebook
        %li#cv-contact_li
          %a{ :href => url('http://www.linkedin.com/profile/view?id=79014347'),
              :target => "_blank",
              :title => "LinkedIn" }
            linkedin
        %li#cv-contact_ma
          %a{ :href => url('mailto:justin@jle0.com'),
              :target => "_blank",
              :title => "E-mail" }
            e-mail

  #cv-main_section.section.group

    #cv-education.col.span_3_of_4.col_left.span_2_of_3.cv-box
      .cv-card
        %h2
          Education
        %ul
          %li
            %h5.cv-edu_source
              University of California, San Diego
            %h4.cv-edu_title
              B.S. Physics w/ Specialization in Computational Physics
            %h6.cv-edu_date
              Spring, 2013

    #cv-work_history.col.span_1_of_4.col_right.span_1_of_3
      %h2
        Work History
      %ul
        - (0..4).each do |year|
          %li
            %h3.cv-work_year= 2013-year
            %h4.cv-work_org= fake_company.name
            %h5.cv-work_title= fake_person.title
            %p.cv-work_desc= fake_paragraph
            .cv-work_date
              Oct '#{13-year} to May '#{13-year+1}

    #cv-skills.col.span_3_of_4.col_left.span_2_of_3.cv-box
      .cv-card
        %h2
          Skills
        %ul
          - 12.times do
            %li=fake_person.title.split.sample

    #cv-project_history.col.span_3_of_4.col_left.span_2_of_3.cv-box
      .cv-card
        %h2
          Personal Project History
        %ul
          - 3.times do
            %li
              %h6.cv-proj_field= fake_field
              %h4.cv-proj_title= fake_company.catch_phrase
              %p.cv-proj_desc= fake_paragraph 2

    #cv-qualities.col.span_3_of_4.col_left.span_2_of_3.cv-box
      .cv-card
        %h2
          Qualities
        %p.cv-qualities_text= fake_paragraph

:javascript
  window.data.watch = #{watch};

-# %script{:type => 'text/javascript', :src => url('/js/lib/jquery.rm.js') }
-# %script{:type => 'text/javascript', :src => url('/js/lib/jquery.fittext.js') }
%script{:type => 'text/javascript', :src => url('/js/page/cv.js') }
