#cv-body

  #cv-title_section.section.group
    #cv-name.col.span_3_of_4.col_left
      %h1
        Justin Le
      %ul#cv-views
        - template_index.keys.each do |k|
          - if k == data[:view]
            %li.cv-view_selected
              %a{:href => url("/#{k}")}= k.capitalize
          - else
            %li
              %a{:href => url("/#{k}")}= k.capitalize
    #cv-photo_container.col.col_right.span_1_of_4
      %img#cv-photo{ :src => url('/media/img/photo_square.jpg') ,
                      :alt => 'Justin Le' }
    #cv-contacts.col.col_left.span_3_of_4
      %ul
        %li#cv-contact_fb
          %a{ :href => url('http://www.facebook.com/mstksg'),
              :target => "_blank",
              :title => "Facebook" }
            facebook
        %li#cv-contact_li
          %a{ :href => url('http://www.linkedin.com/profile/view?id=79014347'),
              :target => "_blank",
              :title => "LinkedIn" }
            linkedin
        %li#cv-contact_ma
          %a{ :href => url('mailto:justin@jle0.com'),
              :target => "_blank",
              :title => "E-mail" }
            e-mail

  #cv-main_section.section.group

    #cv-education.col.span_3_of_4.col_left.span_2_of_3.cv-box
      .cv-card
        %h2
          Education
        %ul
          - data[:education].each do |edu|
            %li
              %h5.cv-edu_institution= edu[:institution]
              %h4.cv-edu_title= edu[:title]
              %h6.cv-edu_date= "#{edu[:date]}#{edu[:comments] ? " &mdash; #{edu[:comments]}" : ""}"

    #cv-work_history.col.span_1_of_4.col_right.span_1_of_3
      %h2
        Work History
      %ul
        - data[:work_history].each do |work|
          %li
            %h3.cv-work_year= work[:year]
            %h4.cv-work_org= work[:organization]
            %h5.cv-work_title= work[:title]
            %p.cv-work_desc
              :markdown
                #{work[:description]}
            .cv-work_date= "#{work[:from]} to #{work[:to]}"

    #cv-skills.col.span_3_of_4.col_left.span_2_of_3.cv-box
      .cv-card
        %h2
          Skills
        %h5= data[:view].capitalize
        %ul
          - data[:skills].each do |skill|
            %li{ :class => "cv-primary_#{skill[:primary]} cv-secondary_#{skill[:secondary]}" }= skill[:skill]

    #cv-project_history.col.span_3_of_4.col_left.span_2_of_3.cv-box
      .cv-card
        %h2
          Personal Projects
        %ul
          - data[:projects].each do |project|
            %li
              %h6.cv-proj_field= project[:field]
              %h4.cv-proj_title= project[:title]
              %p.cv-proj_desc
                :markdown
                  #{project[:description]}

    #cv-qualities.col.span_3_of_4.col_left.span_2_of_3.cv-box
      .cv-card
        %h2
          Qualities
        - data[:qualities].each do |quality|
          %p.cv-qualities_text
            :markdown
              #{quality}

    #cv-coursework.col.span_3_of_4.col_left.span_2_of_3.cv-box
      .cv-card
        %h2
          University Coursework
        %ul
          - data[:coursework].each do |course|
            %li
              %h6.cv-course_course= course[:course]
              %h4.cv-course_title= course[:title]
              %p.cv-course_desc
                :markdown
                  #{course[:description]}

:javascript
  window.data.watch = #{watch};

-# %script{:type => 'text/javascript', :src => url('/js/lib/jquery.rm.js') }
-# %script{:type => 'text/javascript', :src => url('/js/lib/jquery.fittext.js') }
%script{:type => 'text/javascript', :src => url('/js/page/cv.js') }
